
.sidemenu-conteiner {
width: 50%;
height: 100vh;
background-color:#aaebf7;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
border-radius: 1em;
}

.item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: left 1rem; 
    flex-direction: row;
    width: auto;

}
.item p{
    font-size: 20px;
    font-weight: bold;
    text-wrap: wrap;
    width: 50%;
    display: flex;
    gap: 1rem;
    align-items: end;
}

button{
    background-color:gray;
    border-radius:1em;
    padding:10px;
    border:transparent;
}
.back{
    color:white;
    
}


.menu{
    color:gray;
    background-color:transparent;
    border:transparent;
    font-size: 17px;
}
.btn{
    background-color:tomato;
    border-radius:1em;
    padding:10px;
    border:transparent;
}
img{
    width: 54px; /* Ajusta el tamaño de la imagen */
    height: 50px; /* Asegúrate de que sea cuadrada */
    border-radius: 30%; /* Esto hace que la imagen sea redonda */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
}






 



